@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;1,700&display=swap');


body{
    position: absolute;
    width: 1601px;
    height: 770px;
    gap: 0px;
    opacity: 0px;
    
    color: #fff; 
    background: #161C2D;  

    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    
}


header {
    width: 1110px;
    height: 50px;
    top: 16px;
    left: 245px;
    gap: 0px;
    opacity: 0px;    
    color: #fff;
    font-weight: 700;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cabecalho2 {
    width: 333px;
    height: 26px;
    top: 12px;
    left: 554px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #FFFFFF;
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.10000000149011612px;
    text-align: right;
}


.div_right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#teste{
    display: flex;
    flex-direction: row;
    width: 333px;
    height: 26px;
    top: 12px;
    left: 554px;
    gap: 0px;
    opacity: 0px;
    justify-content: space-between;
}

.botao1{
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #473BF0;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    width: 183px;
    height: 50px;
    gap: 0px;
    opacity: 0px;

}

.bloco-row{
    display: flex;
    flex-direction: row;
}

.bloco-columm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#secao-centro{
    width: 541px;
    height: 318px;
    top: 238px;
    left: 244px;
    gap: 0px;
    opacity: 0px;    
}

#content1{
    text-align: left;
}

#video img{
    width: 541px;
    height: 383px;
    top: 205px;
    left: 815px;
    gap: 0px;
    opacity: 0px;

}

#botao2{
    width: 541px;
    height: 318px;
    left: 244px;
    top: 238px;
    border: none;
    
}


